@font-face {
    font-family: VazirFamily;
    font-style: normal;
    font-weight: bold;
    src: url('vazir/Vazir-Bold.woff') format('woff');   /* All Major Browsers */
}

@font-face {
    font-family: VazirFamily;
    font-style: normal;
    font-weight: 300;
    src: url('vazir/Vazir-Light.woff') format('woff');   /* All Major Browsers */
}

@font-face {
    font-family: VazirFamily;
    font-style: normal;
    font-weight: normal;
    src: url('vazir/Vazir.woff') format('woff');   /* All Major Browsers */
}
@font-face {
    font-family: VazirFamily-FD;
    font-style: normal;
    font-weight: bold;
    src: url('vazir/Vazir-Bold-FD.woff') format('woff');   /* All Major Browsers */
}

@font-face {
    font-family: VazirFamily-FD;
    font-style: normal;
    font-weight: 300;
    src: url('vazir/Vazir-Light-FD.woff') format('woff');   /* All Major Browsers */
}

@font-face {
    font-family: VazirFamily-FD;
    font-style: normal;
    font-weight: normal;
    src: url('vazir/Vazir-FD.woff') format('woff');   /* All Major Browsers */
}
