<footer>
    <div class="my_container">
        <p class="made_in"> ساخته شده در
            <a href="http://harmas.ir" title=""> هارمس</a>
        </p>
        <a href="{{site.twitter}}" class="social_media" id="twitter">
            <span class="fa fa-twitter"></span>
        </a>
        <a href="{{site.youtube}}" class="social_media" id="youtube">
            <span class="fa fa-youtube-play"></span>
        </a>
        <a href="{{site.github}}" class="social_media" id="facebook">
            <span class="fa fa-github"></span>
        </a>
        <a href="{{site.telegram}}" class="social_media" id="telegram">
            <span class="fa fa-telegram"></span>
        </a>
    </div>
</footer>