<header id="header" class="">
    <nav id="top_nav" class="">
        <a href="index.html" class="my_brand">Logcat
            <img src="" alt="">
        </a>
        <!-- <a id="simple-menu" class="" href="#"><i class="fa fa-bars"></i></a>
        <ul id="nav-ul" class="">
        <i id="close-menu" class="fa fa-arrow-right"></i>
        <li class="nav_link active"><a href="#" title="">خانه</a></li>
        <li class="nav_link "><a href="#" title="">کنفرانس ها</a></li>
        <li class="nav_link "><a href="#" title="">وبلاگ</a></li>
        <li class="nav_link "><a href="#" title="">آکادمی</a></li>
        </ul> -->
    </nav>
    <div class="my_container">
        <section class="title">
            <h1>{{site.description}}</h1>
            <a href="{{site.twitter}}">توییتر</a>
            <a href="{{site.telegram}}">تلگرام</a>
        </section>
    </div>
</header>