<div id="{{post.conf-id}}" class="post">
    <div class="post_img">
        <a href="{{post.youtube}}">
            <img src="image/posts/{%if post.image %}{{post.image}}{%else%}place-holder.jpg{%endif%}" alt="">
            <span class="fa fa-play-circle-o"></span>
        </a>
    </div>

    <div class="post_title">

        <h3>{{post.title}}</h3>
        <div class="post_info">
            <i class="fa fa-calendar"></i><span id="post-date:{{post.date}}{{post.title}}" class="date"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <!--<i class="fa fa-exclamation" style="color: #37CD3C"></i><span class="comment" style="color: #37CD3C">بلیت برای این ارائه موجود است.</span>-->
        </div><!-- /post_info -->
        <p class="post_summery">{{post.content}}</p>

        <script>
            var date='{{post.date}}'
            moment.loadPersian(true);
            var mom = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('jD jMMMM jYYYY');
            document.getElementById("post-date:{{post.date}}{{post.title}}").innerText=mom
        </script>
        
        <div class="link">
            {%if post.slide%}
            <a href="{{post.slide}}" id="slideshare"></a>
            {%endif%}
            {%if post.source%}
            <a href="{{post.source}}" id="github"></a>
            {%endif%}
            {%if post.aparat%}
            <a href="{{post.aparat}}" id="aparat"></a>
            {%endif%}

        </div>

    </div>
</div>