<div id="{{post.conf-id}}" class="post">

    <div class="post_img">
        <a href="https://www.youtube.com/playlist?list=PLT2xIm2X7W7jh6KggjhwTH9s_8XIlSdOs">
            <img src="image/posts/no_image.jpg" alt="">
            <span class="fa fa-play-circle-o"></span>
        </a>
    </div>

    <div class="post_title">

        <h3>اصول پنج گانه SOLID در مهندسی نرم افزار</h3>
        <div class="post_info">
            <i class="fa fa-calendar"></i><span class="post_date">۲۰ اردیبهشت ۱۳۹۷</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <!--<i class="fa fa-exclamation" style="color: #37CD3C"></i><span class="comment" style="color: #37CD3C">بلیت برای این ارائه موجود است.</span>-->
        </div><!-- /post_info -->
        <p class="post_summery">در این ارائه نقش SOLID در توسعه ی نرم افزار(با تمرکز بر روی اندروید) بررسی خواهد شد. همچنین با ارائه مثال هایی سعی در هر حل کردن چالش های روزمره را خواهیم داشت.</p>

        <div class="link">
            <a href="https://www.slideshare.net/ArashKhangaldi/solid-principles-in-action" id="slideshare"></a>
        </div><!-- / link -->

    </div><!-- post_title -->
</div>