---
layout: default
---

{% include header.html %}

<section id="posts">
    <div class="my_container">
        {% for post in paginator.posts %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% if posttime < nowunix %}
                {% include post-item.html %}
            {%endif%}
        {%endfor%}
    </div>

    <div>
    {% if paginator.total_pages > 1 %}
    <div class="pager">
        {% if paginator.previous_page %}
            <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">رویدادهای جدیدتر</a>
        {% endif %}
        {% if paginator.next_page %}
            <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">رویدادهای قدیمی‌تر</a>
        {% endif %}
    </div>
    {% endif %}
  

    </div>
</section>


{% include footer.html %}